body {
    background-color: $color-bg;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-white;
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 5rem;

    @include respond(tab-port) {
        margin-top: 5rem;
    }

    &--main {
        display: block;
        font-size: 5.5rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveinleft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 4.5rem;
        }

        /* animation-iteration-count: 3s; */

        /* animation-delay: 3s; */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2rem;

        animation-name: moveinright;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }


    }
}


.heading-secondary {
    color: #f48c06;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    transition: all .2s;


    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }
}


.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}


.heading-secondary-menu {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    transition: all .2s;

    // &:hover {
    //     // transform: skewY(2deg) skewX(15deg) scale(1.1);
    // }
}


.heading-tertiary-menu {
    font-size: 5rem;
    color: #f48c06;
    margin-top: 8rem;
    margin-left: 8rem;
    font-weight: 700;
    text-transform: uppercase;


    @include respond(tab-port) {
        font-size: 4rem;
        text-align: center;
        margin-top: 3rem;
        margin-left: 2rem;
    }

    @include respond(phone) {
        font-size: 3rem;
    }
}

.paragraph-menu {
    font-size: 2rem;
    margin-left: 8rem;
    text-transform: uppercase;

    @include respond(tab-port) {
        // font-size: 2rem;
        text-align: center;
        margin-left: 2rem;
        // margin-bottom: 2rem;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }
}